html, body {
  margin: 0;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  font-family: sans-serif;
  background: #f0f0f0;

  /* height: 100%; */ /* ⚠️ ломает инпут в PWA */
  /* display: flex; */ /* ⚠️ ломает инпут в PWA */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

form {
  background: white;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 320px;
  margin: 100px auto;
}

input {
  display: block;
  width: 100%;
  font-size: 16px;
  margin-bottom: 1em;
  padding: 0.5em;
}

button {
  width: 100%;
  padding: 0.7em;
  font-size: 16px;
}